* {
    box-sizing: border-box;
}
html {
  font-size: 16px;
  font-family: 'Raleway', sans-serif;
  color: black;
  background-color: white;
}
p {
  font-size: 1rem;
}
a {
    text-decoration: none;
    font-size: 1rem;
    color: blue;
}
h1 {
  font-size: 2rem;
  font-weight: bold;
  line-height: 2.25rem;
}
h2 {
  font-size: 1rem;
  font-weight: bold;
  line-height: 1.25rem;
}
h3 {
  font-size: 1rem;
  font-weight: bold;
    line-height: 1.25rem;
}
h4 {
  font-weight: 1rem;
  color: black;
  line-height: 1.25rem;
}
h5 {

}
h6 {
  color: white;
}
p {
  font-size: .8rem;
  line-height: 1rem;
}
.color1{}
.color2{background-color:white}
.color3{background-color:#C9BBF0}
.color4{background-color:#767186}
.color5{background-color:#242033}

/* title bar */
.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
}
.logo {
  display: flex;
  justify-content: flex-start;
  margin-left: 1.5rem;
  align-items: center;
}
.fullnav {
  display: flex;
  justify-content: flex-end;
  margin-right: 1rem;
  margin-left: 1rem;
}
.fullnav a {
  color: black;
  margin-left: 1rem;
}
.mobilenav {
  display: none;
}
/* macro positioning */
#contA,
#contB,
#contE {
  display: flex;
}
#contC,
#contD {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.leftcol {
  width: 60%;
  display: flex;
  flex-direction: column;
  border: 2px solid purple;
}
.rightcol {
  width: 40%;
  display: flex;
  flex-direction: column;
  border: 2px solid purple;
}
/* section A */
.bigmediabox{
  width: 100%;
  border: 2px solid green;
}
.bigmedia {
  width: 100%;
  padding: 32px 24px;
}
#colAR {
  justify-content: center;
  align-items: center;
}
.button {
  width: 100%;
  text-align: center;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background-color: black;
}
#headertxtbox {
  margin-left: 40px;
  border: 2px solid blue;
  width: 70%;
}
#headertxtbox h2 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
/* section B */
.bigtxtbox {
  margin: 32px 16px;
}
.bigtxtbox p {
  margin: 24px 0;
}
.tile {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.tileimgbox {
  width: 35%;
}
.tileimg {
  width: 100%;
  padding: 16px 16px;
}
.tileimg-mobile {
  display: none;
}
.tiletxtbox p {
  margin: 8px 0;
}
.tiletxtbox a {
  font-size: .75rem;
}
/*section C*/
.gridbox {
  display: flex;
  flex-direction: column;
  width: 26%;
  margin: 0 16px;
}
.gridimgbox {
  width: 100%;
}
.gridimg {
  width: 100%;
}
.gridtxtbox {
  display: flex;
  flex-direction: column;
  margin: 16px 32px 24px 16px;
}
.gridtxtbox h5 {
  margin: 8px 0;
}
.gridtxtbox p {

}
.row {
  display: flex;
  justify-content: center;
  margin: 32px 0;
}
#row0 {
  display: none;
}
.heading {
  margin: 32px 0px;
}
/*footer*/
footer {
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 30px;
  border-top: 1px solid #767186;
  width: 100%;
}
footer p {
  margin-left: 24px;
}
.footernav {
  margin-right: 16px;
  display: flex;
  justify-content: flex-end;
}

/* mobile */
@media only screen and (max-width: 608px) {
  /*sections that don't show */
  #colAL,
  #colBL,
  #colER,
  #row1,
  #row2,
  .tileimg,
  .bigtxtbox,
  .logo,
  .fullnav,
  .footernav {
    display: none;
  }
  /* top section */
  .mobilenav {
    display: flex;
    justify-content: space-around;
    width: 100%;
  }
  #colAR {
    background-color: white;
  }
  #headertxtbox {
    width: 100%;
    margin: 32px 0;
    padding: 0 16px;
  }
  .rightcol {
    width: 100%;
  }

  #contA {
    justify-content: center;
    align-items: flex-end;
    height: 341px;
    background-color: #242033;
  }

  .headertxtbox p {
    margin-top: 32px;
    margin-bottom: 24px;
  }
  /* sub in mobile only images */
  .tile {
    display: flex;
    flex-direction: column;
    border: 1px solid #767186;
    align-items: center;

    background-color: white;
    width: 100%;
  }
  .tiletxtbox {
    margin-left: 16px;
    margin-bottom: 16px;
  }

  .tileimgbox {
    width: 100%;
    margin: 16px 16px;
    display: flex;
    align-items: center;
  }
  .tileimg-mobile {
    display: inline-block;
    width: 100%;
    padding: 16px 16px;
  }
  /*section C */
    #row0{
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: 16px 16px;
    }
    #row0 ul li {
      width: 100%;
      padding: 16px 16px;
      margin: 4px 0;
      background-color: gray;
    }
    #cont2 h1{
      margin-bottom: 12px;
    }
    /* last section */
    #cont4 {
      justify-content: center;
    }
    #col3,
    .imageboxhuge,
    .imghuge {
      width: 100%;
      margin: 0 0;
      padding: 0 0;
    }

    footer {
      justify-content: center;
    }
}
